Repository cli-stuff/dotload, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, workflows

chore: ✨ update VSCode configuration and improve README
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Labels: docs

chore: 🔧 refactor installation scripts and Makefile
  Makefile
  install.sh
  scripts/install-from-source.sh
Labels: none

chore: 🔧 refactor installation and uninstallation scripts
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .vscode/settings.json
  Makefile
  README.md
  Taskfile.yml
  bin/dotload
  package.sh
  public/flag-de.png
  public/flag-pl.svg
  public/flag-ua.png
  public/flag-us.png
  uninstall.sh
Labels: docs, workflows

docs: ✨ update README formatting
  README.md
Labels: docs

docs: ✨ update README formatting
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

chore: ♻️ refactor GitHub Actions workflow for release
  .github/workflows/release.yml
Labels: workflows

fix: 🚑 fix release workflow
  .github/workflows/release.yml
Labels: workflows

chore: 💵 update sponsoring methods in `FUNDING.yml`
  .github/FUNDING.yml
Labels: none

docs: 💵 add support section in readme
  README.md
Labels: docs

docs: 🔥 remove contacts section
  README.md
Labels: docs

chore: update support section
  README.md
Labels: docs

chore: fix sponsoring link
  README.md
Labels: docs

feat: simplify code and remove unnecessary validations
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/release.yml
  .prettierrc
  .vscode/settings.json
  LICENSE
  README.md
  SECURITY.md
  Taskfile.yml
  bin/dotload
  install.sh
  uninstall.sh
Labels: docs, workflows

Simplify script by reducing validations and regex usage
  bin/dotload
Labels: none

refactor: simplify script by reducing validations and regex usage (#17)
  bin/dotload
Labels: none

.github/labeler.yml:

docs: ["README.md", "docs/*"]
workflows: ".github/workflows/*"
feature:
  - head-branch: ["^feature", "feature"]
